/* --------------------------------
-- Global CSS For All Template ----
----------------------------------- */
section{
	padding-top:100px;
	padding-bottom:75px;
}
/* ---- a ---- */

a{
	text-decoration:none !important;
}
/* ---- b ---- */
.btn{
	box-shadow:none!important;
}
.bg-norepeat{
	background-repeat:no-repeat;
}
.bg-size-cover{
	background-size:cover;
}
.bg-position-center{
	background-position:center;
}
.bg-attachment-fixed{
	background-attachment:fixed;
}
.bg-dark-50{
	background-color: #00000057!important;
}
.bg-transparent-noimportant {
    background-color: transparent;
}
.border-hover-transparent:hover{
	border:1px solid transparent !important;
	transition:.7s;
}
/* ---- c ---- */

.carousel-dot-lg li{
	height:1rem;
	width:1rem;
	border-radius:50%;
}
.carousel-dot li{
	height:.75rem;
	width:.75rem;
	border-radius:50%;
}
.carousel-dot-sm li{
	height:.5rem;
	width:.5rem;
	border-radius:50%;
}
.carousel-outline-dot li{
	height:.7rem;
	width:.7rem;
	border-radius:50%;
	border:1px solid white;
	background-color:transparent;
}
.carousel-outline-dot-black li{
	height:.7rem;
	width:.7rem;
	border-radius:50%;
	border:1px solid black;
}
.carousel-outline-dot-black li.active{
	background-color:black;
}
.carousel-outline-dot li.active{
	background-color:#fff;
}
.card-img-overlay-hover{
	visibility:hidden;
	opacity:0;
	transition:all .7s;
}
.card:hover>.card-img-overlay-hover{
	visibility:visible;
	opacity:1;
}
/* ---- l ---- */
.line-height-175{
	line-height: 1.75;
}
.letter-spacing-1{
	letter-spacing:1px;
}
.letter-spacing-2{
	letter-spacing:2px;
}
.letter-spacing-3{
	letter-spacing:3px;
}
.letter-spacing-4{
	letter-spacing:4px;
}
.letter-spacing-5{
	letter-spacing:5px;
}
/* ---- t ---- */
.top-auto{
	top:auto;
}
.left-auto{
	left:auto;
}
.top-0{
	top:0;
}
.left-0{
	left:0;
}
.bg-black-25{
	background-color:#00000042;
}
/* ---- w ---- */
.w-10{
	width:10% !important;
}
.w-15{
	width:15%!important;
}
.w-20{
	width:20%!important;
}

